# Collaborative filtering
we will use a Collaborative Filtering to make recommendations to Movie Watchers. It is basically of two types:-

## User-User based
This system recommend products to a user that similar users have liked. First we will select a user(k) with  movies he has watched previously . Now again select the end(other) users who has also watched some or all of the movies of user(k). For each movie we will extract ratings for similar movies they watched. For measuring(extracting) the similarity between two users we can either use pearson correlation or cosine similarity.

This can be explained with an example :-
In the following matrixes, each row represents a user, while the columns correspond to different movies except the last one which records the similarity between that user and the target user. Each cell represents the rating that the user gives to that movie. Assume user E is the target.

<table>
<tr>
<td> </td>
<td>The avengers</td>
<td>Sherlock</td>
<td>Transformers</td>
<td>Matrix</td>
<td>Titanic</td>
<td>Me before You</td>
<td>Similarity(i,E)</td>
</tr>
<tr>
<td>A</td>
<td>2</td>
<td> </td>
<td>2</td>
<td>4</td>
<td>5</td>
<td> </td>
<td>NA</td>
</tr>    
<tr>
<td>B</td>
<td>5</td>
<td> </td>
<td>4</td>
<td> </td>
<td> </td>
<td>1 </td>
<td> </td>
</tr>    
<tr>
<td>C</td>
<td> </td>
<td> </td>
<td>5</td>
<td> </td>
<td>2</td>
<td> </td>
<td> </td>
</tr>    
<tr>
<td>D</td>
<td> </td>
<td>1</td>
<td> </td>
<td>5</td>
<td> </td>
<td>4</td>
<td> </td>
</tr>
<tr>
<td>E</td>
<td> </td>
<td> </td>
<td>4</td>
<td> </td>
<td> </td>
<td>2</td>
<td>1</td>
</tr>
<tr>
<td>F</td>
<td>4</td>
<td>5</td>
<td> </td>
<td>1</td>
<td> </td>
<td> </td>
<td>NA</td>
</tr>            
</table>

Since user A and F do not share any movie ratings in common with user E, their similarities with user E are not defined in Pearson Correlation. Therefore, we only need to consider user B, C, and D. Based on Pearson Correlation, we can compute the following similarity.

<table>
<tr>
<td> </td>
<td>The avengers</td>
<td>Sherlock</td>
<td>Transformers</td>
<td>Matrix</td>
<td>Titanic</td>
<td>Me before You</td>
<td>Similarity(i,E)</td>
</tr>
<tr>
<td>A</td>
<td>2</td>
<td> </td>
<td>2</td>
<td>4</td>
<td>5</td>
<td> </td>
<td>NA</td>
</tr>    
<tr>
<td>B</td>
<td>5</td>
<td> </td>
<td>4</td>
<td> </td>
<td> </td>
<td>1 </td>
<td>0.87</td>
</tr>    
<tr>
<td>C</td>
<td> </td>
<td> </td>
<td>5</td>
<td> </td>
<td>2</td>
<td> </td>
<td>1</td>
</tr>    
<tr>
<td>D</td>
<td> </td>
<td>1</td>
<td> </td>
<td>5</td>
<td> </td>
<td>4</td>
<td>-1</td>
</tr>
<tr>
<td>E</td>
<td> </td>
<td> </td>
<td>4</td>
<td> </td>
<td> </td>
<td>2</td>
<td>1</td>
</tr>
<tr>
<td>F</td>
<td>4</td>
<td>5</td>
<td> </td>
<td>1</td>
<td> </td>
<td> </td>
<td>NA</td>
</tr>            
</table>

From the above table we can see that user D is very different from user E as the Pearson Correlation between them is negative. He rated Me Before You higher than his rating average, while user E did the opposite. Now, we can start to fill in the blank for the movies that user E has not rated based on other users.


<table>
<tr>
<td> </td>
<td>The avengers</td>
<td>Sherlock</td>
<td>Transformers</td>
<td>Matrix</td>
<td>Titanic</td>
<td>Me before You</td>
<td>Similarity(i,E)</td>
</tr>
<tr>
<td>A</td>
<td>2</td>
<td> </td>
<td>2</td>
<td>4</td>
<td>5</td>
<td> </td>
<td>NA</td>
</tr>    
<tr>
<td>B</td>
<td>5</td>
<td> </td>
<td>4</td>
<td> </td>
<td> </td>
<td>1 </td>
<td>0.87</td>
</tr>    
<tr>
<td>C</td>
<td> </td>
<td> </td>
<td>5</td>
<td> </td>
<td>2</td>
<td> </td>
<td>1</td>
</tr>    
<tr>
<td>D</td>
<td> </td>
<td>1</td>
<td> </td>
<td>5</td>
<td> </td>
<td>4</td>
<td>-1</td>
</tr>
<tr>
<td>E</td>
<td>3.51*</td>
<td>3.81*</td>
<td>4</td>
<td>2.42*</td>
<td>2.48*</td>
<td>2</td>
<td>1</td>
</tr>
<tr>
<td>F</td>
<td>4</td>
<td>5</td>
<td> </td>
<td>1</td>
<td> </td>
<td> </td>
<td>NA</td>
</tr>            
</table>

#### Drawbacks of user-user filtering
computing user-based CF is very simple, it suffers from several problems. 
- One main issue is that usersâ€™ preference can change over time. It indicates that precomputing the matrix based on their neighboring users may lead to bad performance.
- there might be low users to approximate data.
- privacy issues respect to end users and also user(k).

# Item-Item based
The very first step is to build the model by finding similarity between all the item pairs.  One of the most common methods is to use cosine similarity.

Formula for Cosine Similarity:

$$Similarity(A,B) = \frac{A.B}{|A|*|B|}$$

The major difference is that, with item-based collaborative filtering, we fill in the blank vertically, as oppose to the horizontal manner that user-based CF does. The following table shows how to do so for the movie Me Before You.

<table>
<tr>
<td> </td>
<td>The avengers</td>
<td>Sherlock</td>
<td>Transformers</td>
<td>Matrix</td>
<td>Titanic</td>
<td>Me before You</td>
</tr>
<tr>
<td>A</td>
<td>2</td>
<td> </td>
<td>2</td>
<td>4</td>
<td>5</td>
<td>2.94*</td>
</tr>    
<tr>
<td>B</td>
<td>5</td>
<td> </td>
<td>4</td>
<td> </td>
<td> </td>
<td>1 </td>
</tr>    
<tr>
<td>C</td>
<td> </td>
<td> </td>
<td>5</td>
<td> </td>
<td>2</td>
<td>2.48*</td>
</tr>    
<tr>
<td>D</td>
<td> </td>
<td>1</td>
<td> </td>
<td>5</td>
<td> </td>
<td>4</td>
</tr>
<tr>
<td>E</td>
<td> </td>
<td> </td>
<td>4</td>
<td> </td>
<td> </td>
<td>2</td>
</tr>
<tr>
<td>F</td>
<td>4</td>
<td>5</td>
<td> </td>
<td>1</td>
<td> </td>
<td>1.12*</td>
</tr> 
<tr>
<td>Similarity</td>
<td>-1</td>
<td>-1</td>
<td>0.86</td>
<td>1</td>
<td>1</td>
<td> </td>
</tr>                  
</table>

It successfully avoids the problem posed by dynamic user preference as item-based CF is more static.

#### Drawbacks of item-item based filtering
 the main issue is scalability. The computation grows with both the customer and the product. The worst case complexity is O(mn) with m users and n items. In addition, sparsity is another concern. Take a look at the above table again. Although there is only one user that rated both Matrix and Titanic rated, the similarity between them is 1. In extreme cases, we can have millions of users and the similarity between two fairly different movies could be very high simply because they have similar rank for the only user who ranked them both.

# Single Value Decomposition
One way to handle the scalability and sparsity issue created by CF is to leverage a Latent factor model to capture the similarity between users and items. Essentially, we want to turn the recommendation problem into an optimization problem. We can view it as how good we are in predicting the rating for items given a user. One common metric is Root Mean Square Error (RMSE). The lower the RMSE, the better the performance.

 latent factor is a broad idea which describes a property or concept that a user or an item have. For instance, for music, latent factor can refer to the genre that the music belongs to. SVD decreases the dimension of the utility matrix by extracting its latent factors. Essentially, we map each user and each item into a latent space with dimension r. Therefore, it helps us better understand the relationship between users and items as they become directly comparable.

In [3]:
import pandas as pd
import numpy as np
from preprocessing import Preprocess
df = Preprocess().df
df.columns

Index(['budget', 'genres', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast', 'crew'],
      dtype='object')

In [4]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
from surprise.model_selection import KFold
reader = Reader()
ratings = pd.read_csv('../Data/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

we will use surprise library to import reader, dataset, svd and surprise.model_selection to import cross_validate,KFold.

In [5]:
from surprise.model_selection import KFold
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
kf = KFold(n_splits=5)
kf.split(data)

In [6]:
svd = SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'])

{'test_rmse': array([0.89320331, 0.89747004, 0.90119982, 0.8927543 , 0.90144113]),
 'test_mae': array([0.68800551, 0.69019817, 0.69217569, 0.68704934, 0.69415775]),
 'fit_time': (0.45148682594299316,
  0.45502185821533203,
  0.4725477695465088,
  0.4672529697418213,
  0.4762439727783203),
 'test_time': (0.08749914169311523,
  0.13316607475280762,
  0.09529304504394531,
  0.08675599098205566,
  0.08127284049987793)}

we will get 0.89 as rmse value and 0.68 as mae value

In [7]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [8]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [9]:
svd.predict(1, 302, 3)

Prediction(uid=1, iid=302, r_ui=3, est=2.546181144019188, details={'was_impossible': False})

For movie with ID 302, we get an estimated prediction of 2.618.